@using Blog.Models;

@helper Render(Post post, System.Web.Mvc.HtmlHelper html, bool IsAdmin, bool showComments)
{
    <div class="postTitle"><a href="@Href("~/Posts/Details/" + post.ID)">@post.Title</a></div>
    <div class="postContainer">
        <div class="postTabs">
            <div class="dateTab">
                <div class="month">@post.DateTime.ToString("MMM").ToUpper()</div>
                <div class="day">@post.DateTime.ToString("dd").ToUpper()</div>
            </div>
            <div class="commentsTab">
                <a href="@Href("~/Posts/Details/" + post.ID + "#comments")">
                    <div class="commentsIcon">.</div> @post.Comments.Count()
                </a>
            </div>
        </div>
        <div class="postContent">
            <div class="postBody">@html.Raw(post.Body)</div>
            
            <div class="tagList">
                تگ :
                @foreach(Tag tag in post.Tags)
                {
                    <span class="tag"><a href="@Href("~/Posts/Tags/" + tag.Name)">@tag.Name</a></span>    
                }
            </div>

            <div class="linkList">
                @{ string url="http://techlist.ir/posts/details/" + post.ID;}
                <a href="http://www.reddit.com/submit" target="_blank" onclick="window.location = 'http://www.reddit.com/submit?url=@url'; return false"> <img src="http://www.reddit.com/static/spreddit7.gif" alt="submit to reddit" border="0" /> </a>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="@url" data-text="Check out =>">Tweet</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
            </div>

        </div>
        
        @if(IsAdmin)
        {
            <div class="PostControlPanel">
                <a href="@Href("~/Posts/Delete/" + post.ID)">Delete</a>
                <a href="@Href("~/Posts/Edit/" + post.ID)">Edit</a>
            </div>
        }
    </div>
    
    <!-- -------------Comments----------------- -->
    
    if(showComments == true){
        <div id="commentContainer">
            <a id="comments"></a>
            @foreach(Comment comment in post.Comments.OrderByDescending(x => x.DateTime))
            {
             <div class="comment">
                 <div class="commentName">
                     @if(!string.IsNullOrWhiteSpace(comment.Email))
                     {
                      <a href="mailto:@comment.Email">@comment.Name</a>
                         @:می گوید:   
                     }
                     else
                     {
                      @comment.Name
                        @:می گوید:   
                     }
                 </div>
                 
                 <div class="commentBody">
                     @html.Raw(comment.Body) <!-- comment body is in html and we are replacing new lines with line breaks -->
                 </div>
                 <div class="commentTime">
                     at: @comment.DateTime.ToString("HH:mm") on @comment.DateTime.ToString("yyyy/MM/dd")
                 </div>
                 @if (IsAdmin)
                 {
                    <div class="CommentControlPanel">
                        <a href="@Href("~/Posts/DeleteComment/" + comment.ID)">حذف</a>
                    </div>
                 }
             </div> 
            }
            <div id="commentEditor">
                <div id="commentPrompt">نظرات</div><br />
                <form action="@Href("~/Posts/Comment/" + post.ID)" method="post">
                    نام<br /><input type="text" id="commentNamePrompt" name="name" />  <br />
                    پست الکترونیکی<br /><input type="text" id="commentEmailPrompt" name="email" />  <br />
                    متن نظر<br /><textarea id="elm1" name="body"></textarea><br />
                    <input type="submit" class="commentSubmitInput" name="submit" value="Submit!" /><br />
                </form>
            </div>
        </div>    
    }
}